<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <h1>Login</h1>
    <!-- <span *ngIf="!form.valid && form.touched" class="errorMessage"><i>The email or password is incorrect</i></span> -->
    <!-- <span *ngIf="invalidLogin" class="errorMessage"><i>The email or password is incorrect</i></span> -->
    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username and/or password
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter email" class="form-control" >
      <span *ngIf="!email.valid && email.touched" class="errorMessage">
        <span *ngIf="email.errors && email.errors['invalidFormat']"><i>This is an invalid email</i></span>
        <span *ngIf="email.errors && email.errors['required']"><i>This field is mandatory</i></span>
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control">
      <span *ngIf="password.errors?.['required'] && password.touched" class="errorMessage"><i>Password is required</i></span><!--checking whether the password field is empty or not-->
    </div>

    <div class="bottom"> 
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    
        <p>Don't yet have an acccount? Sign up <a [routerLink]="'/signup'">here</a></p>
    </div>
</form>
</div>