rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  function isAuthenticated() {
    return request.auth.uid != null
  }
    
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if isAuthenticated();
    }
  }
  
  function isAdmin() {
    return isAuthenticated() &&
    exists(/databases/notebooks/documents/administrator/$(request.auth.uid));
  }
  
  match /images/{imageId} {
      allow read: if isAuthenticated();
      
      // Allow write access only for admins
      allow write: if request.auth != null && isAdmin();
  }
}