.wrapper{
    padding: 40px 80px;
    border: 2px solid black;
    border-style: dashed;
    margin: auto;
    width: 90%;
    border-radius: 20px;
}

.buttons{
    margin: 20px 0px;
}

.buttons button{
    margin: 5px;
    width: 100px;
}
