<div id="content">
    <h1 style="text-align: center;">Admin page</h1>
    <p>As an administrator you have control over the images used by notebooks or the notes and can change it at will.</p>
    <div class="admin-menu"> 
        <a [routerLink]="'changeNotebookImage'"><button class="btn btn-primary">Change notebook image</button></a>
        <a [routerLink]="'changeNoteImage'" ><button class="btn btn-primary">Change note image</button></a>
    </div>
    <hr/>
    <router-outlet></router-outlet>
</div>